css
/* styles.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: pink;
}

.container {
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.button {
    display: block;
    width: 200px;
    margin: 10px auto;
    padding: 10px 0;
    background-color: #1e2020;
    color: pink;
    text-decoration: none;
    border-radius: 50px;
    font-size: 16px;
}
