* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: peru ;
    color: #333;
    line-height: 1.6;
}

header {
    background-color:#3e78c0;
    color: rgb(204, 97, 26);
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    color: #1b5489;
    margin-bottom: 15px;
}

.hadis-section {
    padding: 20px;
    margin: 20px;
    background-color: #509adf;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.hadis-container, .arti-container {
    margin-bottom: 10px;
}

.hadis-container p {
    font-size: 1.2rem;
    font-style: italic;
}

.arti-container p {
    font-size: 1rem;
    color: #c21010;
}

.sholat-section {
    text-align: center;
    margin-top: 30px;
}

.sholat-image img {
    max-width: 500%;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #656b8c;
    color:rgb(22, 101, 144);
    position: fixed;
    width: 100%;
    bottom: 0;
}